* {
  user-select: none;
}

.container {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
  justify-content: center;
}

.container div {
  border: 1px solid black;
  box-sizing: border-box;
}