* {
  user-select: none;
}

.container {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto;
}

.container div {
  border: 1px solid black;
  box-sizing: border-box;
}

.buttons {
  margin-top: 16px;
  text-align: center;
}